<!DOCTYPE html>
<html>
  <head>
    <title>PFHp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <header>
      <nav class="gtco-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="col-xs-2 text-left">
					<div id="gtco-logo"><a href="index.html">Verb<span>.</span></a></div>
				</div>
				<div class="col-xs-10 text-right ">
					<ul>
						<li class="has-dropdown">
							<a href="category">Development</a>
							<ul class="dropdown" style="display: none;">
								<li><a href="#">Python</a></li>
								<li><a href="#">Javascript</a></li>
								<li><a href="#">HTML5/CSS3</a></li>
								<li><a href="#">Django</a></li>
							</ul>
						</li>

						<li><a href="category">Business</a></li>
						<li><a href="category">Travel</a></li>
						<li><a href="category">Design</a></li>
						<li><a href="category">Culture</a></li>
					</ul>
				</div>
			</div>
			
		</div>
	</nav>
    </header>
    <%= yield %>
  </body>
</html>
