<!DOCTYPE html>
<html>
  <head>
    <title>PFHp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="border-bottom">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href='/'>
          <span>NUNONUNO</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <div class="container">
              <div class="row">
   							
   					<div class="col my-2">
							<a href="category">Development</a>
							<ul class="dropdown" style="display: none;">
								<li><a href="#">Python</a></li>
								<li><a href="#">Javascript</a></li>
								<li><a href="#">HTML5/CSS3</a></li>
								<li><a href="#">Django</a></li>
							</ul>
						</li>
					</div>
					<div class="col my-2">
						<li><a href="category">Business</a></li>
					</div>
					<div class="col my-2">
						<li><a href="category">Travel</a></li>
					</div>
					<div class="col my-2">
						<li><a href="category">Design</a></li>
					</div>
					<div class="col my-2">
						<li><a href="category">Culture</a></li>
					</div>
					
					</div>
            </div>
          </ul>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
